{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<main class="content" role="main">

<div class="extra-pagination">
    {{pagination}}
</div>

{{#foreach posts}}
    {{> "post-full"}}
{{/foreach}}

{{pagination}}
</main>